header {
	text-align: center;
	padding-top: 10px;
}

header, footer {
	background-color: purple;
	color: gold;
	text-align: center;
	height: 100px;
}

html,body
{
   width: 100%;
   height: 100%;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
}

.input-width {
	max-width: 300px;
}

label {
    text-align: right;
}

nav {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 15px;
	padding-top: 5px;
}

body{
	margin: 0px;
	background-color: gold !important;
}

nav i {
	float: left;
}

nav a {
	background-color: #800080;
	color: #FFD700;
	padding: 8px;
	border: thin solid #0d1f2d;
	text-decoration: none;
	text-align: center;
	margin: 20px;
	width: 110px;
	float: left;
}

nav a:hover {
	background-color: #800080;
	color: #5b7d87;
	font-weight: bold;
}

nav a:active {
	font-weight: bold;
}

nav a:visited {
	color: #ffd700;
}

caption {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 8px;
}

table, th, td {
	border: 1px solid #0d1f2d;
	border-collapse; collapse;
	padding: 5px 10px;
}

td {
	color: #000000;
	
}
	
table {
	width: 90%;
	margin: auto%;
	
}

tr {
	height: 30px;
}	
	
th {
	background-color: #000000;
	color: #f2eded;
}
	
tr:nth-child(odd) {
	background-color: #800080;
}

label, fieldset {
	font-size: 1.1em;
}

.input-radio {
	margin-right: 5px;
}	

.input-checkbox {
	margin-left: 5px;
}

.border {
	border: thick #800080;
}

.main-content{
	max-width: 367px;
}

.clear-float {
	clear:both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right-content {
	float:left;
}

#jumbotop {
	background: #800080;
	margin-bottom: 0;
}

article {
	text-align: center;
}

article p {
	text-align: left;
}

a{
	text-decoration: none !important;
}

.input-width {
	width: 700px
}

.primary {
	background: #800080 !important;
	color: #ffffff;
}

#home-button {
	background-color: transparent;
	color: #800080;
	border: none;
	
}
